@font-face {
  font-family: "OpenSans";
  src: local("OpenSansBold"), local("OpenSans-Bold"),
  url("/fonts/OpenSans-Bold.woff2") format("woff2"),
  url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSansRegular"), local("OpenSans-Regular"),
  url("/fonts/OpenSans-Regular.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSansSemiBold"), local("OpenSans-SemiBold"),
  url("/fonts/OpenSans-SemiBold.woff2") format("woff2"),
  url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Playfair Display";
  src: local("PlayfairDisplayBlack"), local("PlayfairDisplay-Black"),
  url("/fonts/PlayfairDisplay-Black.woff2") format("woff2"),
  url("/fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

p {
  margin: 0;
}

body {
  font-family: "OpenSans", "sans-serif";
  font-style: normal;
  min-width: 320px;
}

.section {
  margin-bottom: 66px;
}

.section-link,
.section-btn {
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  line-height: 100%;
  box-sizing: border-box;
}

.section-title {
  margin-bottom: 26px;
    font-weight: 400;
    font-size: 37px;
    line-height: 100%;
    color: $dark-gray;
  }

.label {
  user-select: none;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.label-text {
  position: relative;
}

.label-text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: $white-color;
  border-radius: 2px;
  border: 1px solid $gray-color;
}

.label-text::after {
  position: absolute;
  content: url("/images/checkbox-arrow.svg");
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.checkbox:checked + .label-text::before {
  background-color: $purple-color;
  border: none;
}

.checkbox:checked + .label-text::after {
  opacity: 1;
}

.card__grid-wrapper {
  gap: $gap-32;
}

.card-grid-item {
  position: relative;
  background-color: $light-gray-color;
  flex-direction: column;
  justify-content: end;
}

.card-content-wrapper {
  padding: 0 30px 30px 30px;
}

.card-img {
  align-self: center;
  margin-bottom: 16px;
}

.card-sub-subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #333;
  margin-bottom: 24px;
  max-width: 216px;
}

.card-link {
  padding: 19px 35px;
  width: 128px;
  height: 54px;
  border: 2px solid $purple-color;
  font-weight: 600;
  color: $purple-color;
}

.card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 24px;
}

.card-star-rating {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $orange-color;
  left: 30px;
  top: 30px;
}

.link-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $purple-color;
  letter-spacing: 1px;
}

.link-wrapper svg {
  width: 22px;
  height: 22px;
}

.link-wrapper {
  align-items: center;
  gap: 5px;
  width: fit-content;
}







