$gap-32: 32px;
$orange-color: #FF862F;
$light-gray-color: #F6F6F6;
$dark-gray: #333;
$gray-color: #999999;
$white-color: #FFF;
$purple-color: #A65CF0;
$light-purple-color: #C998FB;
$dark-purple-color: #7033AC;