ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1, h2, h3, h4 {
  margin: 0;
}