.catalog {
  .section-grid-wrapper {
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: auto 1379px;
    grid-template-areas:
    "path path"
    "sidebar main";
    gap: $gap-32;
    padding-bottom: 133px;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }

  .patch__block {
    grid-area: path;
  }
}