.catalog {
  .sidebar {
    flex-direction: column;
  }

  .sidebar__block-wrapper {
    flex-direction: column;
    gap: 26px;
  }

  .sidebar__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: $dark-gray;
    margin-bottom: 20px;
  }

  .sidebar__sub-subtitle {
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #666666;
    margin-bottom: 7px;
  }

  .sidebar__link-wrapper {
    margin-top: initial;
  }

  .sidebar__list {
    gap: 10px;
    flex-direction: column;
  }

  .sidebar__price-sub-subtitle {
    margin-bottom: 4px;
  }

  .sidebar__price-wrapper,
  .sidebar__label-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #666666;
  }

  .sidebar__price-wrapper {
    gap: 9px;
    align-items: center;
    width: fit-content;
  }

  .sidebar__label-text {
    padding-left: 32px;
  }

  .sidebar__label-text::before {
    width: 20px;
    height: 20px;
  }

  .sidebar__label-text::after {
    left: 5px;
  }

  .sidebar__input {
    width: 86px;
    height: 30px;
    padding-left: 13px;
    border: 2px solid $gray-color;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #666666;
  }

  .sidebar__sub-subtitle-bottom {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #D5B986;
  }

  .sidebar__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $gray-color;
    margin-bottom: 12px;
    max-width: 200px;
  }

  .sidebar__block-bottom {
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    width: 100%;
    min-height: 360px;
    background-color: $dark-gray;
    border-radius: 10px;
    margin-top: auto;
  }

  .sidebar__bg {
    background-image: url("/images/sidebar-img.jpg");
    background-position: top;

    @include bg-contain()
  }

  .sidebar__pagination-wrapper {
    justify-content: center;
  }

  .sidebar__subtitle-1024 {
    display: none;
  }
}
