
.header {
  flex-direction: column;
  gap: $gap-32;
  margin-bottom: $gap-32;
}

.header__list-block-1 {
  gap: 73px;
}

.header__block-1 {
  background-color: $light-gray-color;
  padding: 14px 0;
}

.header__nav-block-1 {
  display: flex;
  align-items: center;
}

.header__wrapper-top {
  margin-right: auto;
}

.header__phone-link {
  color: $orange-color;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.header__link-item-block-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $gray-color;
  padding: 0 8px;
}

.header__logo-link {
  margin-right: auto;
}

.header__logo-link-top {
  display: none;
}

.header__link-item-block-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-gray;
  padding: 0 7px;
  white-space: nowrap;
}

.header__list-block-2 {
  gap: 88px;
}

.header__nav-block-2 {
  align-items: center;
  overflow: hidden;
}

.header__input {
  background: #F7F7F7;
  border-radius: 10px;
  width: 1061px;
  height: 60px;
  padding-left: 59px;
  color: $dark-gray;
  margin-right: auto;
}

.header__input-btn {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.header__input-wrapper {
  position: relative;
  margin-right: auto;
}

.header__input-wrapper::after {
  content: url("/images/search.svg");
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.header__svg-wrapper {
  align-items: center;
  gap: $gap-32;
}

.header__cart-count {
  border-radius: 100%;
  width: 14px;
  height: 15px;
  background: $orange-color;
  align-items: center;
  justify-content: center;
  color: $white-color;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
}

.header__phone-link svg {
  fill: $orange-color;
}

.header__phone-link:focus {
  background-color: #FFF5D1;
  outline: none;
}

.header__phone-link:hover {
  color: #FFBD59;
}

.header__phone-link:hover svg {
  fill: #FFBD59;
}

.header__phone-link:active {
  color: #BB370E;
  background-color: transparent;
}

.header__phone-link:active svg {
  fill: #BB370E;
  background-color: transparent;
}

.header__link-item-block-1:focus {
  outline: none;
  background-color: #EBD1FF;
  color: $dark-purple-color;
}

.header__link-item-block-1:hover {
  color: $purple-color;
  background-color: transparent;
}

.header__link-item-block-1:active {
  color: $dark-purple-color;
  background-color: transparent;
}

.header__link-item-block-2:focus {
  outline: none;
  background-color: #EBD1FF;
  color: $dark-purple-color;
}

.header__link-item-block-2:hover {
  color: $purple-color;
  background-color: transparent;
}

.header__link-item-block-2:active {
  color: $dark-purple-color;
  background-color: transparent;
}

.header__input:focus {
  outline: none;
  background: #F8EFFF;
  border: 2px solid $purple-color;
}

.header__input:hover {
  outline: none;
  background: #EAEAEA;
}

.header__svg-wrapper-bottom,
.header__svg-wrapper-top {
  display: none;
  align-items: center;
  gap: $gap-32;
}

.header__address-bottom {
  display: none;
  margin-right: auto;
}

.header__sub-container {
  max-width: none;
  padding: 0;
  margin: 0;
}

.header__wrapper-top-block-1 {
  margin-right: auto;
}

.header__logo-link-top {
  display: none;
}
