
.patch__list-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: $gray-color
}

.active-link {
  color: $dark-purple-color;
  pointer-events: none;
}

.patch__list-item:not(:last-child)::after {
  content: "/";
  margin: 0 4px;
}

.patch__section {
  padding-bottom: 29px;
}



