@media (max-width: 1366px) {
  .home {
    .feedback__input {
      width: 405px;
    }

    .feedback__bg {
      background-size: 514px;
    }
  }

  .catalog {
    .section-grid-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "path"
    "sidebar"
    "main";
      gap: 28px;
      padding-bottom: 71px;
    }

    .sidebar__block-bottom {
      display: none;
    }

    .sidebar__block-wrapper {
      flex-direction: initial;
      gap: 32px;
    }

    .catalog__subtitle,
    .sidebar__subtitle {
      display: none;
    }

    .sidebar__subtitle-1024 {
      display: block;
      margin-bottom: 28px;
    }

    .sidebar__block-wrapper {
      gap: 59px;
    }
  }

  .product__card {
    .similar-products__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .patch__section {
      padding-bottom: 29px;
    }

    .similar-products__list-item-4 {
      display: none;
    }

    .header {
      padding-bottom: 19px;
    }

    .product__left {
      padding-top: 23px;
    }

    .product__img-1 {
      width: initial;
      margin-bottom: 101px;
      height: 202px;
    }

    .product__sub-subtitle {
      margin-bottom: 10px;
    }

    .product__grid-wrapper {
      gap: 20px;
      grid-template-rows: auto;
    }

    .product__descr-left {
      margin-bottom: 85px;
    }

    .product-right__content-wrapper,
    .product-right__content-wrapper-1024 {
      margin-bottom: 84px;
    }

    .product__section {
      padding-bottom: 62px;
    }

    .similar-products__section {
      padding-bottom: 69px;
    }
  }

  .container {
    padding: 0 36px;
  }

  .header__container-block-1 {
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .header__sub-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 36px;
  }

  .header__wrapper-top-block-1 {
    margin-right: initial;
    padding: 18px 0;
  }

  .header__wrapper-bottom-block-1 {
    padding: 8px 0;
    background-color: $light-gray-color;
  }

  .header__block-1 {
    padding: 0;
    background-color: transparent;
  }

  .header__svg-wrapper-top {
    display: flex;

  }

  .header__nav-block-1 {
    margin-right: auto;
  }

  .header__svg-wrapper {
    display: none;
  }

  .header__list-block-2 {
    gap: 27px;
  }

  .header__input-wrapper {
    width: 100%;
    max-width: 733px;
  }

  .header__input {
    max-width: 733px;
  }
}

@media (max-width: 1200px) {
  .home {
    .special-offers__img-middle {
      width: 243px;
    }

    .special-offers__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .special-offers__list-item-2 {
      background-image: none;
    }

    .high-rating__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .top-categories__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(511px, auto);
    }

    .top-categories__list-item-1 {
      grid-column: span 2;
    }

    .top-categories__list-item-3 {
      grid-column: 3 / span 1;
      grid-row: 1;
    }

    .top-categories__list-item-4 {
      grid-column: span 1;
      grid-row: 2;
    }

    .top-categories__list-item-2 {
      grid-column: 2 / span 1;
    }

    .top-categories__list-item-5 {
      grid-column: 3 / span 1;
      grid-row: 2;
    }

    .high-rating__list-item-7,
    .high-rating__list-item-8 {
      display: none;
    }

    .useful__img {
      background-size: 100% 202px;
    }

    .useful__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(456px, auto);
      grid-auto-rows: minmax(456px, auto);
    }

    .useful__descr {
      font-size: 16px;
      line-height: 22px;
    }

    .useful__content-wrapper {
      padding: 234px 30px 30px;
    }

    .useful__list-item-3 {
      display: flex;
    }

    .feedback__subtitle {
      margin-bottom: 11px;
    }

    .feedback__descr {
      font-size: 14px;
      max-width: 365px;
      letter-spacing: 1px;
    }

    .feedback__section {
      padding-bottom: 75px;
    }
  }
  .product__card {
    .footer__list {
      gap: 90px;
    }
  }

  .footer__list {
    gap: 115px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 72px;
  }

  .header {
    padding-bottom: 33px;
  }

  .header__container-block-1 {
    padding: 0;
  }

  .header__wrapper-bottom-block-1 {
    padding: 17px 0;
  }

  .header__sub-container {
    padding: 0 72px;
  }

  .header__nav-block-2 {
    width: 100%;
    order: 1;
  }

  .header__container-block-2 {
    flex-wrap: wrap;
  }

  .header__svg-wrapper-bottom {
    display: flex;
    gap: 23px;
  }

  .header__svg-wrapper-top {
    display: none;
  }

  .section {
    padding-bottom: 70px;
  }

  .footer__container-top {
    flex-direction: column;
  }

  .footer__left-block {
    margin-right: initial;
    margin-bottom: 25px;
    display: flex;
  }

  .footer__logo-link {
    margin-bottom: 0;
    margin-right: auto;
  }

  .header__list-block-2,
  .header__list-block-1 {
    gap: 11px;
  }

  .header__input {
    max-width: 632px;
  }

  .header__nav-block-2 {
    padding-top: 22px;
  }

  .footer__svg-wrapper {
    padding-right: 50px;
  }

  .footer__list {
    gap: 0;
    justify-content: space-between;
  }

  .home {
    .special-offers__list-item-3 {
      display: none;
    }

    .special-offers__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .high-rating__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .top-categories__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .top-categories__list-item-3 {
      grid-column: span 1;
      grid-row: 2;
    }

    .top-categories__list-item-2 {
      grid-column: 2 / span 1;
    }

    .top-categories__list-item-4 {
      grid-column: span 1;
      grid-row: initial;
    }

    .top-categories__list-item-5 {
      grid-column: span 1;
      grid-row: initial;
    }

    .useful__list-item-3 {
      display: none;
    }

    .useful__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .feedback__bg {
      background-image: url("/images/feedback-bg-2.svg");
      background-size: 187px;
    }

    .hero__section {
      background-image: url("/images/hero-bg-2.jpg");
    }

    .banner__container {
      padding: 0 36px;
    }
  }

  .catalog {
    .catalog__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .catalog__list-item-9 {
      display: none;
    }

    .catalog__pagination-btn-3 {
      display: block;
    }

    .catalog__list-item-7,
    .catalog__list-item-8 {
      display: none;
    }
  }

  .product__card {
    .product__grid-wrapper {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: -25px;
    }

    .patch__section {
      padding-bottom: 36px;
    }

    .product-right__content-wrapper {
      display: none;
    }

    .footer__list {
      gap: 0;
    }

    .product-right__content-wrapper-1024 {
      display: flex;
    }

    .similar-products__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .similar-products__list-item-3 {
      display: none;
    }

    .product__img-1 {
      height: initial;
      margin-bottom: 78px;
    }

    .product__left {
      padding-top: 0;
    }

    .product__descr-part:not(:last-child) {
      max-width: 487px;
    }

    .product__descr-left {
      margin-bottom: 33px;
    }
  }

  .cooperation {
    .advantages__descr {
      font-size: 16px;
      line-height: 185%;
      max-width: 616px;
    }

    .warranty__list-item {
      font-size: 16px;
      line-height: 179%;
    }

    .header {
      padding-bottom: 22px;
    }

    .section {
      padding-bottom: 31px;
    }

    .warranty__section {
      padding-bottom: 73px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }

  .header__input {
    max-width: 296px;
  }

  .header__nav-block-1 {
    display: none;
  }

  .header__svg-wrapper-top {
    display: flex;
    gap: 23px;
  }

  .header__sub-container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1310px;
    align-items: center;
  }

  .header__address {
    display: none;
  }

  .header__wrapper-bottom-block-1 {
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    padding: 7px 0;
  }

  .header__logo-link {
    display: none;
  }

  .header__svg-wrapper-bottom {
    display: none;
  }

  .header__logo-link-top {
    display: none;
  }

  .header__address-bottom {
    display: block;
  }

  .header__wrapper-top-block-1 {
    background-color: $light-gray-color;
    padding: 12px 0 7px 0;
    margin-bottom: 14px;
  }

  .header__wrapper-top-block-1 .header__sub-container {
    justify-content: center;
  }

  .header__logo-link-top {
    display: block;
  }

  .header__container-block-1 {
    flex-direction: column;
    padding: 0;
  }

  .header__list-block-2 {
    gap: 30px;
    overflow: scroll;
  }

  .footer__svg-wrapper {
    padding-right: 0;
  }

  .home {
    .feedback__bg {
      background-image: none;
    }
  }

  .catalog {
    .sidebar__block-wrapper {
      gap: 46px;
    }
  }

  .product__card {
    .product__img-1 {
      max-width: 600px;
    }
  }
}

@media (max-width: 576px) {
  .header__link-item-block-2 {
    font-size: 14px;
  }

  .card__img {
    max-width: 108px;
    max-height: 38px;
    height: 100%;
  }

  .footer__logo-link {
    margin-right: initial;
    margin-bottom: 20px;
  }

  .footer__left-block {
    flex-direction: column;
    align-items: center;
  }

  .header {
    gap: 15px;
  }

  .header__nav-block-2 {
    padding-top: 0;
  }

  .header__sub-container {
    align-items: center;
  }

  .header__list-block-2 {
    gap: 13px;
    overflow: scroll;
  }

  .section-title {
    font-size: 24px;
  }

  .section {
    padding-bottom: 70px;
  }

  .card__sub-subtitle {
    font-size: 16px;
    max-width: 81px;
    margin-bottom: 13px;
  }

  .card__content-wrapper {
    padding: 0 16px 16px 16px;
  }

  .card__link {
    width: 108px;
    min-height: 40px;
  }

  .header__nav-block-2 {
    width: 100%;
  }

  .card-star-rating {
    left: 15px;
    top: 15px;
  }

  .card__price {
    margin-bottom: 15px;
  }

  .footer__list {
    flex-wrap: wrap;
    row-gap: 24px;
  }

  .footer__top {
    padding: 24px 0 21px 0;
  }

  .footer__list-item {
    width: 47%;
    gap: 6px;
  }

  .card__star-rating {
    font-size: 13px;
    left: 15px;
    top: 14px;
  }

  .patch__section {
    display: none;
  }

  .high-rating__star-img {
    width: 13px;
  }

  .home {
    .special-offers__list-item-4,
    .special-offers__list-item-5,
    .special-offers__list-item-6 {
      display: flex;
    }


    .special-offers__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }

    .hero__section {
      background-size: 100% 210px;
      align-items: initial;
      min-height: initial;
    }

    .useful__list {
      grid-template-columns: repeat(1, 1fr);
    }

    .special-offers__img {
      margin-bottom: 16px;
    }

    .special-offers__sub-subtitle {
      font-size: 24px;
      max-width: 228px;
      margin-bottom: 21px;
    }

    .hero__subtitle {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 156px;
      padding: 31px 0 0 18px;
      max-width: 238px;
    }

    .hero__link {
      width: 100%;
    }

    .special-offers__list-item-3 {
      display: flex;
    }

    .feedback__input {
      width: 296px;
    }

    .high-rating__list {
      gap: 16px;
      grid-template-rows: repeat(3, minmax(278px, auto));
      grid-auto-rows: 278px;
    }

    .banner__subtitle {
      font-size: 24px;
    }

    .banner__descr {
      font-size: 16px;
      max-width: 200px;
      margin-bottom: 147px;
    }

    .banner__container {
      padding: 0 12px;
    }

    .banner__section {
      background-size: 100% 212px;
      min-height: initial;
      align-items: initial;
      background-position: initial;
    }

    .banner__content-wrapper {
      padding-top: 30px;
    }

    .banner__link {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .top-categories__tag-list-item {
      font-size: 10px;
    }

    .top-categories__list-item {
      padding: 16px;
    }

    .top-categories__link-wrapper-320 {
      gap: 6px;
    }

    .top-categories__tag-list {
      margin-bottom: 2px;
      gap: 0;
      flex-direction: column;
    }

    .top-categories__link-wrapper {
      display: none;
    }

    .top-categories__link-wrapper-320 svg {
      display: block;
      align-self: end;
    }

    .top-categories__sub-subtitle {
      font-size: 16px;
      line-height: 16px;
    }

    .useful__content-wrapper {
      padding: 230px 30px 30px;
    }

    .top-categories__list {
      column-gap: 16px;
      row-gap: 32px;
      grid-template-rows: minmax(332px, auto) minmax(206px, auto) minmax(206px, auto);
    }

    .top-categories__list-item-1 {
      padding: 30px;
    }

    .top-categories__list-item-1 .top-categories__tag-list .top-categories__tag-list-item {
      font-size: 14px;
    }

    .top-categories__list-item-1 .top-categories__tag-list {
      flex-direction: initial;
      gap: 20px;
    }

    .top-categories__tag-list-item-1 .top-categories__link-wrapper-320 .top-categories__sub-subtitle {
      font-size: 24px;
      line-height: 33px;
    }

    .useful__list {
      gap: 24px;
    }

    .feedback__subtitle {
      margin-bottom: 5px;
    }

    .feedback__link {
      font-size: inherit;
    }

    .feedback__label-text {
      font-size: 12px;
      display: inline-block;
      padding-left: 20px;
    }

    .useful__list-item-3,
    .useful__list-item-4,
    .useful__list-item-5 {
      display: flex;
    }

    .feedback__section {
      padding-bottom: 67px;
    }
  }

  .catalog {
    .sidebar__block-wrapper {
      gap: 16px;
      flex-wrap: wrap;
      column-gap: 39px;
    }

    .sidebar__price {
      width: 100%;
    }

    .catalog__list {
      gap: 16px;
      grid-template-rows: 278px;
      grid-auto-rows: 278px;
    }

    .header {
      gap: 16px;
      padding-bottom: 24px;
    }

    .section-grid-wrapper {
      gap: 33px;
      grid-template-areas:
    "sidebar"
    "main";
    }

    .patch__block {
      display: none;
    }

    .catalog__sub-subtitle {
      font-size: 18px;
    }

    .catalog__img {
      max-height: 37px;
    }

    .catalog__list-item-4 {
      grid-column: initial;
      grid-row: initial;
    }

    .catalog__list-item-3 {
      grid-column: initial;
    }
  }

  .product__card {
    .product__img-1 {
      max-width: 296px;
      margin-bottom: 12px;
    }

    .product-right__content-wrapper-1024 {
      margin-bottom: 31px;
    }

    .product__img-2 {
      width: 100%;
    }

    .similar-products__list {
      grid-template-rows: 278px;
      gap: 16px;
    }

    .header {
      gap: 14px;
      padding-bottom: 28px;
    }

    .product__subtitle {
      font-size: 16px;
      margin-bottom: 9px;
    }

    .product__rating-wrapper {
      margin-bottom: 2px;
    }

    .product__price {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .product__descr-right {
      margin-bottom: 21px;
      max-width: 202px;
    }

    .product__btn,
    .product__add-btn {
      width: 100%;
    }

    .dotted {
      border-bottom: 3px dotted #999999;
      width: 100%;
      display: none;
    }

    .product__list-item {
      flex-direction: column;
      font-size: 11px;
    }

    .product__list {
      gap: 8px;
      display: flex;
      flex-direction: column;
    }

    .product__grid-wrapper {
      gap: 24px;
    }

    .product__item-text {
      font-size: 15px;
      line-height: 13px;
    }

    .similar-products__subtitle {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .product__section {
      padding-bottom: 100px;
    }
  }

  .cooperation {
    .section {
      padding-bottom: 25px;
    }

    .header {
      padding-bottom: 33px;
    }

    .main__title {
      font-size: 24px;
      margin-bottom: 27px;
    }

    .section-title {
      font-size: 16px;
      margin-bottom: 8px;
      max-width: none;
    }

    .suppliers__descr {
      line-height: 179%;
      font-size: 14px;
    }

    .advantages__subtitle {
      font-size: 14px;
    }

    .features__list-item {
      line-height: 147%;
      font-size: 14px;
    }

    .advantages__descr {
      font-size: 14px;
      line-height: 178%;
    }

    .warranty__list-item {
      font-size: 14px;
      line-height: 178%;
    }

    .warranty__bottom-block {
      font-size: 16px;
      padding-left: 52px;
      max-width: 240px;
      line-height: 156%;
    }

    .warranty__bottom-block-bg {
      background-size: 36px 54px;
    }

    .warranty__list {
      margin-bottom: 7px;
    }

    .warranty__section {
      padding-bottom: 48px;
    }
  }
}

