.home {
  .hero__section {
    background-image: url("/images/hero__bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    align-items: center;
    background-clip: content-box;
    box-sizing: content-box;
  }

  .hero__descr {
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
    color: #999999;
    margin-bottom: 49px;
    max-width: 479px;
  }

  .hero__link {
    padding: 22px 47px;
    width: 187px;
    height: 60px;
    background: $purple-color;
    color: $white-color;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}