.home {
  .top-categories__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 511px 405px;
    grid-auto-rows: 511px;
    gap: $gap-32;
  }

  .top-categories__grid-item {
    background-color: $light-gray-color;
    padding: 30px;
    overflow: hidden;
    flex-direction: column;
  }

  .top-categories__grid-item-1 {
    grid-column: span 3;
  }

  .top-categories__grid-item-2 {
    grid-column: span 3;
  }

  .top-categories__grid-item-3 {
    grid-column: span 2;
  }

  .top-categories__grid-item-4 {
    grid-column: span 2;
  }

  .top-categories__grid-item-5 {
    grid-column: span 2;
  }

  .top-categories__img {
    margin: 0 0 0 -30px;
  }

  .top-categories__list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $gray-color;
  }

  .top-categories__list {
    gap: 30px;
    margin-bottom: 10px;
    width: fit-content;
  }

  .top-categories__sub-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $dark-gray;
  }

  .top-categories__link-wrapper-320 {
    margin-bottom: 30px;
    width: fit-content;
    align-items: center;
    gap: 14px;
  }

  .top-categories__link-wrapper-320 svg {
    width: 22px;
    height: 22px;
    display: none;
  }

  .link-wrapper svg {
    stroke: $purple-color;
    fill: transparent;
  }
}

