.product__card {
  .similar-products__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 420px;
  }

  .similar-products__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: $dark-gray;
    margin-bottom: 24px;
  }
}
