.cooperation {
   .section-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: $dark-gray;
    margin-bottom: 12px;
    letter-spacing: 1.3px;
  }

  .main__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 100%;
    color: $dark-gray;
    margin-bottom: 32px;
    letter-spacing: 1.3px;
  }

  .section {
    padding-bottom: 32px;
  }
}