.cooperation {
  .section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $dark-gray;
    margin-bottom: 12px;
  }

  .main__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $dark-gray;
    margin-bottom: 32px;
  }

  .section {
    margin-bottom: 32px;
  }
}