.cooperation {

  .warranty__list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: $gray-color;
    max-width: 692px;
    padding-left: 9px;
  }

  .warranty__list-item::marker {
    color: $orange-color;
  }

  .warranty__list {
    flex-direction: column;
    gap: 14px;
    margin-bottom: 32px;
    padding-left: 17px;
  }

  .warranty__bottom-block {
    font-weight: 400;
    font-size: 28px;
    line-height: 132%;
    color: #333;
    max-width: 615px;
    min-height: 118px;
    padding-left: 109px;
    display: flex;
    align-items: center;
  }

  .warranty__bottom-block-bg {
    background-image: url("/images/warranty-bg.png");
    background-size: 77px 116px;
    background-position: center left;
    background-repeat: no-repeat;
  }

  .warranty__section {
    padding-bottom: 66px;
  }
}